.menu {
  font-family: cursive;
}
.chateau {
  height: 50rem;
  width: 100%;
}
.menu-title {
  color: #db5656;
  position: absolute;
  font-size: 8rem;
  left: 35%;
  top: 4rem;
}
.menu-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 3rem;
  margin-top: -4rem;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: #db5656;
}
a:visited {
  color: #db5656;
}

@media screen and (max-width: 450px) {
  .chateau {
    height: 20rem;
    width: 100%;
  }
  .menu-title {
    color: #db5656;
    position: absolute;
    font-size: 2.5rem;
    left: 24%;
    top: 5rem;
  }
}
